<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <title>Preventable Gun Deaths WebApp</title>
</head>

<body>
    <div class="pagewidth">
        <div class="headline">
            It has been <counter>zero days</counter> since the last incident of gun violence in the United
            States.

        </div>

        <div class="todays_numbers"><b>{{ today }}</b>: In the past 24 hours, across {{ states_count }} states,
            there have been at
            least
            {{ deaths }} deaths
            and
            {{ injuries }} injuries attributed to
            gun violence.</div>
        <br /><br />

        <center>

	    <div class="boundary">
            <div class="flex-container">
                {% for i in states_names %}
                <div>{{ i }}<br /><br />
                    Fatalities: {{ df[df.state == i]['killed'].sum() }} Injuries: {{ df[df.state == i]['injured'].sum() }}</div>
                {% endfor %}
            </div>
	    </div>
        </center>


        <h4><i>This information comes from the Gun Violence Archive.</i>
            <br />
            <br />
            If you're interested in learning more about what you can do to support gun control, visit
            https://everytown.org/
        </h4>
</body>

</html>