* {
    background-color: #F8F8F8;
}

h1 {
    font-family: "Fjord One"; 
    font-size: 48px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 2; 
    line-height:1.0em;
    padding: 1px;
    width: 75%;
    margin: auto;
    padding: 50px;
    }

counter {
    font-family: "Fjord One"; 
    font-size: 48px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 2; 
    line-height:1.0em;
    color: #F8F8F8;
    background-color: black;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: .1%;
    }

h2 {
    font-family: "Fjord One"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 200; 
    line-height: 26.4px; 
    padding: 4px;
    }

todays_numbers {
    font-family: "Fjord One"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 200; 
    line-height: 26.4px; 
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 1.5px;
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 0px;
    }

h4 {
    font-family: "Fjord One"; 
    font-size: 24px; 
    color: rgb(68, 67, 67);
    border-radius: 1px;
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 3%;
    font-weight: 1;
    }

.pagewidth {  /* width of content box remains the same, even when zoomed in or out (note that the text still spreads out as the page grows) */
  margin: auto;
  width: 100%;
  padding: 5px;
  background-color: linear-gradient(#F0F);
  text-align: center;
  justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F8;
  }
  
.flex-container > div {
background-color: black;
width: 20%;
margin-right: auto;
margin-left: auto;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
line-height:1.1em;
font-size: 30px;
color: white;
padding: 10px;
box-shadow: 5px 10px #9e9d9d;
border-radius: 8px;
}
