html, body {
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    justify-content: center;
    margin: auto;
    width: 1500px; 
  }

counter {
    font-family: "Fjord One"; 
    font-size: 90%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 2; 
    line-height:1.0em;
    color:black;
    background-color:#F8F8F8;
    border-radius: 4px;
    margin-bottom: 0%;
    padding: 0.1%;
    }

.headline {
    margin-top: 12%;
    font-family: "Fjord One"; 
    font-size: 400%; 
    font-weight: 2; 
    /* padding: 50px; */
    color: #F8F8F8;
    margin-bottom: 5%;
    }

.mystate {
    font-family: "Fjord One"; 
    font-size: 150%; 
    font-weight: 2; 
    color: #F8F8F8;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    }

h2 {
    font-family: "Fjord One"; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 200; 
    line-height: 26.4px; 
    padding: 4px;
    }

.todays_numbers {
    font-family: "Fjord One"; 
    font-size: 200%; 
    font-weight: 2; 
    color: #F8F8F8;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    }

h4 {
    font-family: "Fjord One"; 
    font-size: 24px; 
    color: rgb(68, 67, 67);
    border-radius: 1px;
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 3%;
    font-weight: 1;
    }

.pagewidth {  /* width of content box remains the same, even when zoomed in or out (note that the text still spreads out as the page grows) */
  margin: auto;
  width: 100%;
  padding: 5px;
  background-color: linear-gradient(#F0F);
  text-align: center;
  justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F8;
  }
  
.flex-container > div {
background-color: black;
width: 20%;
margin-right: auto;
margin-left: auto;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
line-height:1.1em;
font-size: 30px;
color: white;
padding: 10px;
box-shadow: 5px 10px #9e9d9d;
border-radius: 8px;
}
